In [1]:
import string
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Language Detection.csv')

In [3]:
df

                                                    Text Language
0       Nature, in the broadest sense, is the natural...  English
1      "Nature" can refer to the phenomena of the phy...  English
2      The study of nature is a large, if not the onl...  English
3      Although humans are part of nature, human acti...  English
4      [1] The word nature is borrowed from the Old F...  English
...                                                  ...      ...
10332  ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...  Kannada
10333  ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...  Kannada
10334  ಹೇಗೆ ' ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎ...  Kannada
10335  ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...  Kannada
10336  ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...  Kannada

[10337 rows x 2 columns]

In [4]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [5]:
def remove_pun(text):
    for pun in string.punctuation:
        text=text.replace(pun,"")
    text=text.lower()
    return(text)

In [6]:
df['Text'].apply(remove_pun)

0         nature in the broadest sense is the natural p...
1        nature can refer to the phenomena of the physi...
2        the study of nature is a large if not the only...
3        although humans are part of nature human activ...
4        1 the word nature is borrowed from the old fre...
                               ...
10332    ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...
10333    ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...
10334    ಹೇಗೆ  ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎಲ...
10335    ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...
10336    ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...
Name: Text, Length: 10337, dtype: object

In [7]:
df['Text']=df['Text'].apply(remove_pun)

In [8]:
df.head()

                                                Text Language
0   nature in the broadest sense is the natural p...  English
1  nature can refer to the phenomena of the physi...  English
2  the study of nature is a large if not the only...  English
3  although humans are part of nature human activ...  English
4  1 the word nature is borrowed from the old fre...  English

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X=df.iloc[:,0]
Y=df.iloc[:,1]

In [11]:
X

0         nature in the broadest sense is the natural p...
1        nature can refer to the phenomena of the physi...
2        the study of nature is a large if not the only...
3        although humans are part of nature human activ...
4        1 the word nature is borrowed from the old fre...
                               ...
10332    ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...
10333    ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...
10334    ಹೇಗೆ  ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎಲ...
10335    ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...
10336    ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...
Name: Text, Length: 10337, dtype: object

In [12]:
Y

0        English
1        English
2        English
3        English
4        English
          ...
10332    Kannada
10333    Kannada
10334    Kannada
10335    Kannada
10336    Kannada
Name: Language, Length: 10337, dtype: object

In [13]:
train_test_split(X,Y,test_size=.2)

[3775    la turquie était le seul pays avec la chine où...
 1665           ഞാൻ നിങ്ങളെ ഓർമ്മിപ്പിക്കാൻ ആഗ്രഹിക്കുന്നു
 4175                                 jai peur de le faire
 8253    zavallı nergis annenin kızı ve nasıl olduğu ha...
 8655    idag kunde jag göra med en energidryck andra o...
                               ...
 4295    5 in 1960 begon ted nelson met zijn project xa...
 4292    onder andere de bibliograaf paul otlet bedenke...
 6672    тебе придется все это съесть я думал тебе нрав...
 6137    модель википедии позволяет редактировать её ст...
 7228    molto più semplice dellhtml il software mediaw...
 Name: Text, Length: 8269, dtype: object,
 6770    nummer tre er suave suave suave betyder at vær...
 393     108 the projects preference for cohesiveness e...
 7547    grazie in anticipo se qualcuno ha commesso un ...
 106     other lakes are found in endorheic basins or a...
 7960    ama hayır bir düzeltme sorunlu bir durumda olm...
                               ...
 9010    يمثل هذا زيادة كبيرة عن يناير 2006، عندما كانت...
 5859                                  να κρατήσουμε επαφή
 2654    91 a wikipédia não exige que seus usuários for...
 5219    por ejemplo no se podrán clasificar todos aque...
 4724                                      mensen bedanken
 Name: Text, Length: 2068, dtype: object,
 3775       French
 1665    Malayalam
 4175       French
 8253      Turkish
 8655     Sweedish
           ...
 4295        Dutch
 4292        Dutch
 6672      Russian
 6137      Russian
 7228      Italian
 Name: Language, Length: 8269, dtype: object,
 6770        Danish
 393        English
 7547       Italian
 106        English
 7960       Turkish
            ...
 9010        Arabic
 5859         Greek
 2654    Portugeese
 5219       Spanish
 4724         Dutch
 Name: Language, Length: 2068, dtype: object]

In [14]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.2)

In [15]:
X_train

3743    la plupart des citations appuie une définition...
3227    eu sou terrence o anjo da boa fortuna o nome e...
5292    te doy ese consejo secreto para que suene muy ...
9448    حسنًا ، إذا كنت تريد المزيد من الدروس حول الجم...
3427    soit la culture est ce qui donne un sens à nat...
                              ...
3078    neste vídeo apresentarei 100 frases comuns e m...
1403    ജനകീയ പങ്കാളിത്തത്തിലൂടെ മാതൃവെബ്‌സൈറ്റിനെക്കാ...
7195    sebbene tutti i testi siano disponibili sotto ...
8179                                     hayır sanmıyorum
4055    je veux continuer je ne suis pas fatigué de ne...
Name: Text, Length: 8269, dtype: object

In [16]:
from sklearn import feature_extraction

In [17]:
vec = feature_extraction.text.TfidfVectorizer(ngram_range=(1,2),analyzer='char')

In [18]:
from sklearn import pipeline
from sklearn import linear_model

In [19]:
pipeline.Pipeline([('vec',vec),('clf',linear_model.LogisticRegression())]),

(Pipeline(steps=[('vec', TfidfVectorizer(analyzer='char', ngram_range=(1, 2))),
                 ('clf', LogisticRegression())]),)

In [20]:
model_pipe=pipeline.Pipeline([('vec',vec),('clf',linear_model.LogisticRegression())])

In [21]:
model_pipe.fit(X_train,Y_train)

Pipeline(steps=[('vec', TfidfVectorizer(analyzer='char', ngram_range=(1, 2))),
                ('clf', LogisticRegression())])

In [22]:
model_pipe.classes_

array(['Arabic', 'Danish', 'Dutch', 'English', 'French', 'German',
       'Greek', 'Hindi', 'Italian', 'Kannada', 'Malayalam', 'Portugeese',
       'Russian', 'Spanish', 'Sweedish', 'Tamil', 'Turkish'], dtype=object)

In [23]:
model_pipe.predict(X_test)

array(['French', 'English', 'Kannada', ..., 'Malayalam', 'Malayalam',
       'Italian'], dtype=object)

In [24]:
predict_val=model_pipe.predict(X_test)

In [25]:
from sklearn import metrics

In [26]:
metrics.accuracy_score(Y_test,predict_val)

0.9714700193423598

In [27]:
metrics.accuracy_score(Y_test,predict_val)*100

97.14700193423597

In [28]:
metrics.confusion_matrix(Y_test,predict_val)

array([[102,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,  74,   2,   1,   1,   0,   0,   0,   0,   0,   0,   1,   0,
          2,   2,   0,   0],
       [  0,   0,  96,   2,   2,   1,   0,   0,   0,   0,   0,   1,   0,
          0,   0,   0,   0],
       [  0,   0,   0, 275,   1,   0,   0,   0,   1,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   1, 204,   0,   0,   0,   1,   0,   0,   1,   0,
          0,   0,   0,   0],
       [  0,   0,   1,   1,   0,  95,   0,   0,   0,   0,   0,   0,   0,
          0,   1,   0,   1],
       [  0,   0,   0,   0,   0,   0,  79,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,  12,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   3,   1,   0,   0, 127,   0,   0,   0,   0,
          5,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,  68,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 113,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   2,   2,   1,   0,   0,   2,   0,   0, 141,   0,
          1,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 151,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   1,   0,   0,   0,   6,   0,   0,   0,   0,
        160,   0,   0,   0],
       [  0,   4,   0,   3,   1,   0,   0,   0,   0,   0,   0,   0,   0,
          0, 147,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,  75,   0],
       [  0,   0,   0,   1,   0,   0,   0,   0,   1,   0,   0,   0,   0,
          0,   1,   0,  90]], dtype=int64)

In [40]:
model_pipe.predict(['my name is Neha'])

array(['English'], dtype=object)

In [33]:
model_pipe.predict(['how are you'])

array(['English'], dtype=object)

In [34]:
model_pipe.predict(['आप कैसे हैं'])

array(['Hindi'], dtype=object)

In [36]:
model_pipe.predict(['ನೀವು ಹೇಗಿದ್ದೀರಿ'])

array(['Kannada'], dtype=object)

In [37]:
model_pipe.predict(['எப்படி இருக்கிறீர்கள்'])

array(['Tamil'], dtype=object)

In [46]:
import pickle

In [47]:
new_file=open('model.pckl','wb')
pickle.dump(model_pipe,new_file)
new_file.close()

In [48]:
import os